{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
Accueil - {{ parent() }}
{% endblock %}
{% block blog_body %}
<h2>Liste des produits</h2>
<ul>
{% for produit in produits %}
<li>
<a href="{{ path('pro_voir', {'id': produit.id}) }}">{{ produit.nom }}</a>
 {{ produit.description }},
 
 Prix: {{ produit.prix }}
 Poids: {{ produit.poids }}
</li>
{% else %}
<li>Pas (encore !) d'articles</li>
{% endfor %}
</ul>
{% endblock %}